html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.title{
  font-size: 50px;
  font-weight: 700;
  color: #D53928;
}

.navicon{
  margin-right: 10px;
  font-size: 12px;
}

.navbar{
  font-size: 14px;
}

.conicon{
  font-size: 30px;
  margin: 20px;
  margin-left: 0px;
  color: #d7d7d7;
}

.conicon:hover{
  color: #D53928;
}

h2{
  font-size: 30px;
  font-weight: 700;
}

h3{
  margin-bottom: 15px;
  font-weight: 600;
}

.button{
  background-color: #D53928;
  color: white;
}

.btnicon{
  margin-right: 10px;
}

.card{
  border-radius: 20px;
}

.card-image{
  border-radius: 20px;
}